body {
  max-width: 1100px;
  margin: 0 auto;
}

.App {
  background-color: white;
}

.btns{
  display: flex;
  justify-content: space-around;
}

.text {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

#first-text {
  background-color:aqua;
  width: 500px;
}
#second-text {
  background-color: greenyellow;
  width: 500px;
}
.list-group {
  float: left;
  width: 300px !important;
}
.news-page {
  display: inline-flex;
}
.task-list {
  text-align: center;
}

.Error{
  border: 2px red solid;
}
.box {
    margin: 0;
    border-bottom: 2px solid gray;
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.text {
    text-align: left;
    word-wrap: break-word;
}
.box-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 220px;
}
textarea {
    width: 100%;
}
.Home a{
  color: white;
    text-decoration: none;
}